canvas{
    position: absolute;
    top: 100px;
    right: 15px;
    padding-left: 0;
    padding-right: 0;
    border: 3px solid #fcfdfc;
    background: #b2beb5;
}

body{
    background: rgb(32, 1, 1);
}

.whiteMe{
    background: rgb(253, 184, 184);
}

h6{
    font-weight: bold;
    color: rgb(9, 230, 127);
    
}

.home-text-size{
    font-size: 1.4rem;
}

.text-size-align{
    height: 7vh;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}


.text-align{
    height: 7vh;
    display: flex;
    align-items: center;
}


nav ul li a{
    text-decoration: none;
    color: rgb(110, 110, 163);
    }
    
    nav ul li a:hover{
        text-decoration: none;
        }
    
    nav ul li ul{
        display: none;
        list-style: none;
        position: absolute;
        top: 28px;
        left: 50px;
        padding: 10px;
        background: rgb(247, 215, 215);
        width: 200px;
        font-size: 16px;
    }
    
    nav ul li:hover ul {
        display: block;
        border-radius: 2px 2px 4px 4px;
        z-index: 2;
    }
    
    nav ul li ul li{
        padding: 8px 12px;
        border-top: 1px solid black;
    }
    
    
    nav ul li ul li:hover{
        background: rgb(245, 179, 179);
    }

    
#rect{
    height: 50px;
    width: 80px;
    background-color: #555;
}


.rectangle {
    border: 1px solid #FF0000 !important;
    position: absolute;
    border-radius: 10%;
}

#controls{
    width : 150px;
    border: 1px solid gray;
    background-color: lightskyblue;
    border-radius: 10px;
    box-shadow: 2px 2px 12px lightskyblue;
}

.lightBorder {
    padding-left: 5px;
    border: 2px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
}


#slantline{
    padding: 0px;
    margin: 0px;
    height: 10px;
    width: 50px;
    position: relative;
    bottom: 20px;
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Safari 3-8 */
    transform: rotate(45deg);
}

#removeEventListeners{
    height: 30px;
    width: 30px;
    position: relative;
    left: 55px;
    background: #FF0000;
    border-radius: 50%;
}


#clearCanvas {
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 10px;
    background: burlywood;
}




footer{
    border-top: 100px solid rgb(32, 1, 1);
    height: 380px;
    background: rgb(46, 44, 44);
    border-bottom: 80px solid black;
    position: relative;
    top: 600px;
}

.footer_para{
    padding: 50px;
    color: white;
    font-weight: bold;
}

.copywrite{
    padding: 0px;
    position : absolute;
    right: 5px;
    bottom: 0px;
    color: rgb(66, 4, 4);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

