html{
    height: 100vh;
}

h6{
    font-weight: bold;
    color: rgb(9, 230, 127);
    
}

.home-text-size{
    font-size: 1.4rem;
}

.text-size-align{
    height: 7vh;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}


.text-align{
    height: 7vh;
    display: flex;
    align-items: center;
}

nav ul li a{
text-decoration: none;
color: rgb(110, 110, 163);
}

nav ul li a:hover{
    text-decoration: none;
    }

nav ul li ul{
    display: none;
    list-style: none;
    position: absolute;
    top: 28px;
    left: 50px;
    padding: 10px;
    background: rgb(247, 215, 215);
    width: 200px;
    font-size: 16px;
}

nav ul li:hover ul {
    display: block;
    border-radius: 2px 2px 4px 4px;
    z-index: 2;
}

nav ul li ul li{
    padding: 8px 12px;
    border-top: 1px solid black;
}


nav ul li ul li:hover{
    background: rgb(245, 179, 179);
}

.bright_color{
    background: rgba(209, 181, 128, 0.733);

}

.two_words{
    font-size: 80px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-shadow: 4px 4px rgba(209, 171, 100, 0.733);
    text-shadow: 6px 6px rgba(202, 151, 57, 0.733);
    text-shadow: 8px 8px rgba(201, 146, 45, 0.733);
    text-shadow: 10px 10px rgba(197, 139, 31, 0.733);
    text-shadow: 11px 11px rgba(145, 102, 23, 0.733);

}

.catch{
    color: darkorange;
    font-size: 28px;
    text-align: left;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

.col_height{
    height: 230px;
    box-shadow: 0px 8px 10px 1px burlywood;
}

.bg_color{
    background: rgb(224, 224, 224);
    border-radius: 10px;    
}

.form_detail{
    border: 2px solid red;
    border-top: 50px solid red;
    border-radius: 10px;
}

.header{
    height: 100px;
    color: rgb(141, 108, 24);
}

.space_white{
    height: 80px;
}

.space{
    width: 240px;
}

input{
    border-radius: 2px;
    font-family: 'Courier New', Courier, monospace;
}

textarea{
    border-radius: 3px;
     font-family: 'Courier New', Courier, monospace; 
}

button{
    border-radius: 10px;
    background: rgb(24, 143, 255);
}

footer{
    border-top: 100px solid white;
    height: 380px;
    background: rgb(46, 44, 44);
    border-bottom: 80px solid black;
}

.footer_para{
    padding: 50px;
    color: white;
    font-weight: bold;
}

.copywrite{
    padding: 0px;
    position : absolute;
    right: 5px;
    bottom: 0px;
    color: rgb(66, 4, 4);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.go_up{
    position: relative;
    bottom: 8px;
}